{
    "extends": [
        "airbnb-base"
    ],
    "parserOptions": {
        "ecmaVersion": 7
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "import/no-named-as-default": 0,
        "mocha/no-exclusive-tests": "error"
    },

    "plugins": [
        "mocha"
    ]
}